Import library

In [41]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

Load Dataset

In [42]:
heart_dataset = pd.read_csv('heart.csv')

In [43]:
heart_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [44]:
heart_dataset.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [45]:
heart_dataset.shape

(303, 14)

In [46]:
heart_dataset['output'].value_counts()

1    165
0    138
Name: output, dtype: int64

In [47]:
# Memisahkan Data dan label
X = heart_dataset.drop(columns ='output', axis=1)
Y = heart_dataset['output']

Convert Label

In [48]:
print(X)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall
0      0      1
1      0      2
2      0      2
3      0      2
4      0      2
..   ...    ...
298    0      3
299    0      3
300    2      3
301    1      3
302    1      2

[303 rows x 13 columns]

In [49]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

Standarisasi Data

In [50]:
scaler = StandardScaler()

In [51]:
scaler.fit(X)

StandardScaler()

In [52]:
standarized_data = scaler.transform(X)

In [53]:
print (standarized_data)

[[ 0.9521966   0.68100522  1.97312292 ... -2.27457861 -0.71442887
  -2.14887271]
 [-1.91531289  0.68100522  1.00257707 ... -2.27457861 -0.71442887
  -0.51292188]
 [-1.47415758 -1.46841752  0.03203122 ...  0.97635214 -0.71442887
  -0.51292188]
 ...
 [ 1.50364073  0.68100522 -0.93851463 ... -0.64911323  1.24459328
   1.12302895]
 [ 0.29046364  0.68100522 -0.93851463 ... -0.64911323  0.26508221
   1.12302895]
 [ 0.29046364 -1.46841752  0.03203122 ... -0.64911323  0.26508221
  -0.51292188]]

In [54]:
X = standarized_data
Y = heart_dataset['output']

In [55]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

Memisahkan Data Training dan testing

In [56]:
x_train, x_test,y_train, y_testing = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state=2)

In [57]:
print(X.shape, x_train.shape, x_test.shape)

(303, 13) (242, 13) (61, 13)

Membuat data latih dengan menggunakan algoritma SVM

In [58]:
classifier = svm.SVC(kernel='linear')

In [59]:
classifier.fit(x_train, y_train)

SVC(kernel='linear')

In [60]:
print (Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

membuat model evaluasi untuk mengukur tingkat akurasi

In [61]:
x_train_prediction = classifier.predict(x_train)
training_data_accuracy = accuracy_score (x_train_prediction, y_train)

In [62]:
print('akurasi data training adalah :', training_data_accuracy)

akurasi data training adalah : 0.859504132231405

In [63]:
x_test_prediction = classifier.predict(x_test)
test_data_accuracy= accuracy_score(x_test_prediction, y_testing)

In [64]:
print ('akurasi data testing :', test_data_accuracy)

akurasi data testing : 0.819672131147541

Membuat model prediksi

In [65]:
input_data = (59,1,0,110,239,0,0,142,1,1.2,1,1,3)

input_data_as_numpy_aray= np.array (input_data)

input_data_reshape = input_data_as_numpy_aray.reshape (1,-1)

std_data = scaler.transform (input_data_reshape)
print(std_data)

prediction= classifier.predict(std_data)

if(prediction[0] == 0):
    print ('pasien tidak punya penyakit Jantung')
else :
    print('pasien terkena penyakit Jantung')

[[ 0.5110413   0.68100522 -0.93851463 -1.23499586 -0.14038081 -0.41763453
  -1.00583187 -0.33440125  1.43548113  0.13837295 -0.64911323  0.26508221
   1.12302895]]
pasien tidak punya penyakit Jantung

c:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Simpan Modul Ke sav

In [66]:
import pickle

In [67]:
filename = 'heart-model.sav'
pickle.dump(classifier, open(filename, 'wb'))